@model TeacherCreateModel
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create teacher</h4>
                <form class="forms-sample" method="post" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl">Image url</label>
                        <input asp-for="ImageUrl" class="form-control" placeholder="Image url">
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Occupation">Occupation</label>
                        <input asp-for="Occupation" class="form-control" placeholder="Occupation">
                        <span asp-validation-for="Occupation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="About">About</label>
                        <input asp-for="About" class="form-control" placeholder="About">
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Degree">Degree</label>
                        <input asp-for="Degree" class="form-control" placeholder="Degree">
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Experience">Experience</label>
                        <input asp-for="Experience" class="form-control" placeholder="Experience">
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Faculty">Faculty</label>
                        <input asp-for="Faculty" class="form-control" placeholder="Faculty">
                        <span asp-validation-for="Faculty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail">Mail</label>
                        <input asp-for="Mail" class="form-control" placeholder="Mail">
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skype">Skype</label>
                        <input asp-for="Skype" class="form-control" placeholder="Skype">
                        <span asp-validation-for="Skype" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>