@{
    VideoTourLink videoTourLink = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Video tour link</h4>
                <p>
                    @videoTourLink.Name
                </p>
            </div>
        </div>
    </div>
</div>