@{
    ViewCourse viewCourse = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View course</h4>
                <p>
                    @viewCourse.Title
                </p>
                <p>
                    @viewCourse.Description
                </p>
                <p>
                    @viewCourse.ChooseOption
                </p>
            </div>
        </div>
    </div>
</div>