@{
    UsefulLink usefulLink = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@usefulLink.Name</h4>
                <p>
                    @usefulLink.Url
                </p>
            </div>
        </div>
    </div>
</div>