@{
    SocialMediaLink socialMediaLink = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@socialMediaLink.Name</h4>
                <p>
                    @socialMediaLink.Link
                </p>
            </div>
        </div>
    </div>
</div>