@{
    SliderItem sliderItem = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider item</h4>
                <p>
                    @sliderItem.Title
                </p>
                <p>
                    @sliderItem.Subtitle
                </p>
                <p>
                    @sliderItem.Description
                </p>
                <p>
                    @sliderItem.ImageUrl
                </p>
            </div>
        </div>
    </div>
</div>