@model SliderUpdateModel
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Update slider item</h4>
                <form class="forms-sample" method="post" asp-action="Update">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subtitle">Subtitle</label>
                        <textarea asp-for="Subtitle" class="form-control" placeholder="Subtitle"></textarea>
                        <span asp-validation-for="Subtitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl">ImageUrl</label>
                        <textarea asp-for="ImageUrl" class="form-control" placeholder="ImageUrl"></textarea>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>